* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #0f0f0f;
  padding-bottom: 50px;
}

.main_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #1a1a1a;
  color: white;
  margin-bottom: 25px;
  position: sticky;
  z-index: 1000;
  background-color: rgba(0,0,0,0.9);
  top:0;
}

.nav_left a,
.nav_left a + a,
.nav_right a,
.nav_right button {
  margin-right: 15px;
  color: white;
  text-decoration: none;
  font-weight: 500;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  align-items: center;
}

.nav_center {
  display: flex;
  justify-content: center;
  flex: 1;
  gap: 5px;
}

.search_bar {
  padding: 6px 10px;
  border-radius: 20px 0 0 20px;
  border: 1px solid grey;
  width: 400px;
  height: 40px;
}

.search_button {
  padding: 7px 12px;
  border-radius: 0 20px 20px 0;
  border: none;
  background-color: royalblue;
  color: white;
  cursor: pointer;
  transition: 0.3s;
  height: 40px
}

.search_button:hover {
  background-color: #0056d2;
}

.nav_right button {
  margin-left: 10px;
  padding: 6px 12px;
  border-radius: 5px;
  background-color: royalblue;
  color: white;
  border: none;
  cursor: pointer;
}

.nav_right button:hover {
  background-color: #0056d2;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  cursor: pointer;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content button {
  width: 100%;
  border: none;
  background: none;
  color: black;
  padding: 12px 16px;
  text-align: left;
  cursor: pointer;
  font-size: 14px;
}

.dropdown-content button:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.auth_flex {
  display: flex;
  height: 95vh;
  width: 100vw;
}

.auth_Container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fdf5e2;
  border-right: 2px solid grey;
  padding: 20px;
}

.auth_Form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  max-width: 400px;
}

.auth_Container h1 {
  font-size: 48px;
  color: black;
  margin-bottom: 30px;
  text-align: center;
}
.auth_Container h3{
  color:red;
}

.auth_Form label {
  display: block;
  font-size: 18px;
  margin-bottom: 5px;
  color: black;
}
.auth_Form a{
  text-decoration: none;
  color: grey;
}

.auth_Form h4{
  color:grey;
}

.auth_Form input {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #fdf5e2;
  color: black;
}

.auth_Form input:focus {
  outline: none;
  border: 2px solid royalblue;
}

.auth_Form input.error:focus {
  border: 2px solid red;
}

.auth_Form input.error{
  border: 2px solid red;
}

.auth_Form input:-webkit-autofill,
.auth_Form input:-webkit-autofill:hover,
.auth_Form input:-webkit-autofill:focus,
.auth_Form input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #fdf5e2 inset;
  -webkit-text-fill-color: black;
}

.auth_Form .confirmation_errors {
  color: red;
  font-size: 18px;
  margin-top: -5px;
  margin-bottom: 5px;
}

.auth_Form .user_error {
  color: red;
}

.auth_Form button {
  padding: 12px;
  background-color: royalblue;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.auth_Form button:disabled {
  background-color: lightgray;
  cursor: not-allowed;
}

.auth_Form button:not(:disabled):hover {
  background-color: white;
  color: royalblue;
  border: 2px solid royalblue;
}

.auth__background {
  flex: 1;
  position: relative;
}

.auth__background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container_videos{
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 10px;
  padding-left: 20px;
}

.container_videos li {
  list-style: none;
  width: 470px;
  margin-bottom: 50px;
}

.video-wrapper {
  width: 470px;
  height: 255px;
  background: black;
  overflow: hidden;
  border-radius: 10px;
  min-height: 200px;
}

.video-thumb {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.like_button{
  cursor: pointer;
  padding: 10px 30px 10px 30px;
  border-radius:20px 0 0 20px ;
  background-color: #202020;
}
.like_button:hover{
  background-color: #3b3b3b;
}

.active_like{
  background-color: green;
}

.dislike_button{
  cursor: pointer;
  padding: 10px 30px 10px 30px;
  border-radius:0 20px 20px 0 ;
  background-color: #202020;
}

.comment-container{
  margin-top: 20px;
}

.comment-container li{
  list-style: none;
}

.comment_input{
  width: 100%;
  background-color: #0f0f0f;
  border: none;
  border-bottom: 1px solid white;
  height: 30px;
  padding-left: 5px;
  transition: 0.2s;
}

.comment_input.active{
  height: 40px;
  border-bottom: 2px solid white;
  transition: 0.2s;

}

.comment-btns-container-flex{
  display: flex;
}

.comment-btns-container{
  margin-left: auto;
  margin-top: 5px;
}

.comment-btns-container .btn{
  cursor: pointer;
  padding: 10px 20px 10px 20px;
  border-radius: 20px 20px 20px 20px;
  background-color: #202020;
}

.comment-btns-container .btn:hover {
  background-color: #3b3b3b;
}

.comment-btns-container .btn.inactive{
  cursor: default;
  background-color: #202020;
}

.user-handle{
  font-weight: bold;
  display: inline-block;
}
.user-handle:hover{
  cursor: pointer;
}

.author-header{
  display: flex;

}
.comment-time{
  font-size: 15px;
  font-style: italic;
  color:grey;
  display: inline-block;
  margin-left: 10px;
}

.btn.delete-comment{
  background-color: white;
  color: black;
  border-radius: 10%;
  padding:3px;
  margin-left: auto;
}
.btn.delete-comment:hover{
  background-color: black;
  color: white;
  cursor: pointer;
}

.full-video-container{
  display: flex;
  justify-content: center;
  gap: 20px;

}
.left-container{
  flex:5;
  /*display: flex;
  flex-direction: column;*/
  padding-left: 20px;
}
.right-container{
    flex:1;
  }

.left-container .video_player{
  width: 100%;
  height: 750px;
  /*object-fit: cover;*/
  border-radius: 10px;
}

.right-container li.video-item {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
  list-style: none;
  align-items: flex-start;
}
.sidebar-video-wrapper {
  flex-shrink: 0;
  width: 150px;
  height: 84px;
}

.right-container .video-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.uploaded_by_link{
  color: white;
}

.video_uploader_link{
  color: grey;
  width: fit-content;
}

.video_uploader_link:hover{
  color: white;
}

.left__uploaded_by{
  font-weight: bold;
}

.left__uploaded_by:hover{
  cursor: pointer;
}

.video-details{
  margin-top: 20px;
  padding: 20px;
  background-color: #3b3b3b;
  border-radius: 10px;
  margin-bottom: 20px;
}
.video-details:hover{
  background-color: rgba(54, 25, 10, 1.000);
  cursor: pointer;
}

.videos-views{
  display: inline-block;
}

.views_upload-date {
  display: flex;
  align-items: center;
  gap: 5px;
}

.views_upload-date .seperator {
  height: 3px;
  width: 3px;
  background-color: #bbb;
  border-radius: 50%;
  flex-shrink: 0;
}

.main_container input[type="search"]::-webkit-search-cancel-button {
  cursor: pointer;
}

.user__likes {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user__likes .left__uploaded_by{

  justify-content: left;
}

.video-wrapper{
  position: relative;
}

.video-time{
  font-size: 12px;
  font-weight: bold;
  background-color: #222021;
  padding-left: 4px;
  position: absolute;
  top: 90%;
  left: 90%;
  right: auto;
  width: 32px;
  border-radius: 4px;
}

.upload-container{
  display: flex;
  height: 91vh;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.upload-background{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #202020;
  padding: 150px;
  border-radius: 20px;
}

.upload-container h1{
  justify-content: center;
  font-size: 40px;
  margin-bottom: 30px;
}

.upload_Form{
  display: flex;
  gap: 50px;
  flex-direction: column;

}

.upload_Form input{
  width: 100%;
  font-size: 16px;
  padding: 12px;
  border-radius: 5px;
  border: none;

}
.upload_Form button{
  padding: 12px;
  cursor: pointer;
  border-radius: 5px;
}

.upload_Form button:hover{
  background-color: white;
  color: gray;
  transition: 0.2s;
  border: 2px solid gray;
}

.upload_Form input[type="file"]::file-selector-button {
  border: 2px solid white;
  padding: 0.2em 0.4em;
  border-radius: 5px;
  background-color: gray;
}

.upload_Form input[type="file"]::file-selector-button:hover {
  background-color: white;
  color: gray;
  border: 2px solid gray;
  transition: 0.2s;
  cursor: pointer;
}
